// 1. Resets styles with Normalize.css for browser behaviour consistency
// @import '~normalize.css';

// 2. Setup Typefaces
// @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');



// OBS DEV: Remove for production
// @import 'styles/development';




// n+1 Applies a smooth scroll behaviour whenever supported
html { scroll-behavior: smooth; }

// n+2 Disables outline on all elements
* { outline: none; }




/* You can add global styles to this file, and also import other style files*/
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Initializes the dark-theme as well
.dark-mode {
  background-color: #0C111E;
}

app-root {
  display: block;
  height: 100%;
}

